page-test-view {
    .x-ray-container{
        width: 95%;
        height: 70%;
        background-color: #4286f4;
        z-index: 15;
    }
    .img {
        width: 100%;
        width: 100%;
    }
    .case-info{
        height: 15%;
        background-color: #f44280;
    }
 
  .test-button {
       text-align: center;
       width: 50vw;
   }
  
}
